p
{
    font-size: 1.3em;
    color: blueviolet; 
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.intro 
{
font-style: italic
font-size: large;
}
h2
{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;
}